<h1>
  {{title}}
</h1>

<div class="image">
    <img src="https://placekitten.com/g/300/200" alt="Product Image">
</div>
<div>{{values}}</div>
<div class="content">
    <div class="header">
      Kittens conserve their energy by sleeping an average of 18 hours a day! That gives them plenty of fuel for growing strong and quickly into the adult cats we know so well. Even more interesting is the fact that a certain growth hormone is only released during sleep, which is why they must rest to grow.
      </div>
    <div class="meta">
        <span class="ui blue small label">
            <i class="heart icon"></i>
            <div class="detail">
                10
            </div>
        </span>
        <span class="ui right floated">
            <a  (click) = "voteUp()"
                class="ui small label">
                <i class="arrow up icon"></i>
                Thumps up
            </a>
            <a  (click) = "voteDown()"
                class="ui small label">
                <i class="arrow down icon"></i>
                Thumps down
            </a>
        </span>
    </div>
    <div>{{values}}</div>
</div>